main{
	background-image: url("America.jpg");
	background-attachment: content-box;
	background-size: cover;
    background-origin: content-box;
    background-clip: content-box;
	height: auto;
}
.mdl-layout{
	margin-bottom: 0px;
}
#spacer {
	background-color: transparent;
}
#banner {
	width: 100%;
	height: 100%;
	margin: 0%;
}
#bannerdiv{
	background-color: transparent;
	padding: 0%;
	height:auto;
}
img{
	height: auto;
    display: block;
	width: 50%;
	position: relative;
}
.flavorimg{
	width: 75%;
    display: inline-block;
	opacity: 1.00;
}
#sshow, #locimg{
	width: 80%;
	margin-left: 10%;
	height: auto;
}
#sshow{
	margin-bottom: 2.5%;
}
.mdl-grid.center-items {
  justify-content: center;
}
.mdl-button{
	display: block;
	position: relative;
	margin-left: 5%;
}
h1, h6{
	position: relative;
	margin-left: 5%;
}
#content{
	background-color: rgba(255, 255, 255, 1.0);
	text-align: center;
	padding-bottom: 2vh;
}
#printstuff{
	text-align: center;
	padding-bottom: 2vh;
}
#flavorscreen{
	text-align: center;
}
.textfield-custom{
	display: block;
	text-align: center;
}
.button-custom{
	margin-top: 2vh;
	opacity: 0.80;
	text-align: left;
}
.customlist{
  overflow-y:scroll;
  margin-bottom: 0%;
  max-height: 75vh;
}